header {
    grid-area: header;
    padding: 20px;
    background-color: $primary-color-dark;

    @include flex($justify: space-between);

    a {
        color: white;
    }

    .header-brand {
        font-size: 4rem;
        font-weight: 700;
    }

    ul {
        @include flex;
        li {
            .header-nav {
                font-size: 1.8rem;
                padding: 0 10px;
            }
        }
    }
}

footer {
    grid-area: footer;
    background: $text-color;
    padding: 20px;
    color: white;

    @include flex;
}